*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: white
}

/* body.correct {
    background-color:rgb(103, 201, 4);
}

body.wrong{
    background-color:rgb(239, 0, 0);
} */

.container{
    width: 800px;
    max-width: 80%;
    background-color:lightgray;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btns-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn{
     border-radius: 5px;
     padding: 5px 10px;
     outline: none;
}

.btn:hover {
    /* border-color: white; */
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(127, 40, 40, 0.5);
    transform: scale(1.1);
    transition: transform 150ms;
}

.btn:[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}


.btn.correct {
    background-color:rgb(103, 201, 4);
}

.btn.wrong {
    background-color:rgb(239, 0, 0);
}

.btn.score {
    font-size: 2.4rem;
    padding: 2rem 0.5rem;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
    background-color: lightgray;
    border-radius: 5px;
}


.start-btn, .next-btn {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.question-text{
    font-size: 2rem;
    font-weight: 600;
    padding: 10px 20px;

}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

#scoreDisplay{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    color: black;
    text-align: center;
}

#scoreResult{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    color: black;
    text-align: center;
}

#scores-btn {
    margin: 10px;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    background-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#scores-btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(127, 40, 40, 0.5);
    /* transform: scale(1.1);
    transition: transform 150ms; */
}

#homePage{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    color: black;
    text-align: center;
}